.carouselContainer {
    position: relative;
    max-width: 800px;
    overflow: hidden;
}

.carouselWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.carouselImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.prevButton,
.nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prevButton {
    left: 10px;
}

.nextButton {
    right: 10px;
}

.prevButton:hover,
.nextButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dotsContainer {
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #717171;
}

.dot:hover {
    background-color: #717171;
}